# Ignore service account keys and local secrets
serviceAccountKey.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# Environment files
.env
env/
venv/
/.venv/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
/staticfiles/
/media/

# Environments
.env
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db 